header.pageheader {
    background-color: #e7e7e7;
    
    height: 500;
    color: rgb(63, 138, 168);
    padding-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 1%;
}

.payheader {
    text-align: center;
    font-size: 50px;
}

.paypal {
    text-align: center;
}

.ht {
    text-align: center;
    margin-top: 0;
    font-size: 100px;
}

.ebutton {
    text-align: center;
    margin-bottom: 100px;
}

.wbc {
    text-align: center;
    font-size: 40px;
}

.left {
    float: left;
}

.right {
    float: center;
}

.checkout {
    font-size: 60px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.checkout:hover {
    color: #4d4d4d;
}

.wrap {
    word-wrap: break-word; 
}

.fullcenter {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.explorergif {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000000;
}

.card {
    width: fit-content;
    border: 5px solid #000000;
    background-color: #f8f8f8;
    padding-left: 1%;
    padding-right: 1%;
}

.center {
    text-align: center;
}

.input {
    line-height: 30px;
    font-size: 30PX;
    padding-top: 15px;
    padding-bottom: 15px;
}

.link {
    color: blue;
    cursor: pointer;
}

.link:hover {
    color: rgb(0, 0, 0);
}

body {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

button {
    background-color: rgb(126, 126, 126); /* Green */
    border: 10;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2%;
    font-size: 16px;
  }

.mmbutton {
    font-size: 40px;
}